html {
  font-family: Verdana, "PT Serif", Georgia,  serif;
}

html {
  font-family: "PT Serif", Georgia, Verdana, serif;
}

html {
  font-family:  'Source Serif Pro', serif, "PT Serif", Georgia, Verdana, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", Serif, "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #313131;
  letter-spacing: -.025rem;
}

h1 {
  color: #cc0000;	
  font-size: xx-large;
}

h2 {
  color: navy;
  fornt-weight: 500;
  font-size: x-large;
  
}

.intro  {
  padding: 30px;
  margin: 50px 200px 50px 100px;
  width: 70%;
  line-height: 1.5;
  font-size: large;
}
